doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='https://harrisjose.github.io/')
    meta(name='description', content='Demo of Reordering for MT from SVO to SOV Languages.')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,700')
    script(type='text/javascript', src='javascripts/processor.js')
  body
    block content
